<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Think++</title>

    <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/dracula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/python/python.min.js"></script>
</head>
<body>

    <h1 class="Title">Think++</h1>

    <form method="POST" action="/">
        <select id ="language-select" name = "language">
            <option value = "cpp" {% if language == 'cpp' %}selected{% endif %}>C++</option>
            <option value = "python" {% if language == 'python' %}selected{% endif %}>Python</option>
        </select>
        <br>
        <div class="filename-container">
            <label for="filename" class="filename-label">Filename:</label>
            <input type="text" id="filename" name="filename" placeholder="Enter file name">
       </div>

        <textarea id="code-editor" name="code" placeholder="Write your C++ code here...">{{ code|e }}</textarea>
        <textarea class="input" name="user_input" placeholder="Write Input of your code: ">{{ user_input |e }}</textarea>
        <button type="submit" class="Run_btn" name="action" value="run">Run</button>
        <button type="submit" class="save_btn" name="action" value="save" >Save</button>
        <button type="submit" class="download_btn" name="action" value="download" >Download</button>
        <input type="file" id="fileInput" style="display:none;" onchange="loadFromComputer(event)">
        <button type="button" class="load_btn" onclick="document.getElementById('fileInput').click()">Load From Computer</button>
    </form>

    {% if output %}
        <h2 class="Output">Output</h2> 
        <pre>{{ output }}</pre>
    {% endif %}

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
            mode: "{{ 'text/x-c++src' if language == 'cpp' else 'python'}}",
            theme: "dracula",
            lineNumbers: true,
            autoCloseBrackets: true,
            matchBrackets: true,
            indentUnit: 4,
            tabSize: 4,
            indentWithTabs: true,
            lineWrapping: true,
            viewportMargin: Infinity,
            extraKeys: {"Ctrl-Space": "autocomplete"}
        });
        editor.setSize("68%", "320px");

        document.getElementById('language-select').addEventListener('change', function(){
            var lang = this.value;
            if(lang == 'cpp'){
                editor.setOption('mode', 'text/x-c++src');
            }
            
            else if(lang == 'python'){
                editor.setOption('mode', 'python');
            }
        })

        function loadFromComputer(event){
            const file = event.target.files[0];
            if(!file) return;

            const reader = new FileReader();
            reader.onload = function(e){
                editor.setValue(e.target.result);
            };
            reader.readAsText(file);
        }
    </script>
</body>
</html>
