<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ Code Editor</title>

    <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">\
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet"> 
</head>
<body>

    <h1 class="Title">Think++</h1>

    <form method="POST" action="/">
        <textarea name="code" placeholder="Write your C++ code here...">{{ code|e }}</textarea><br>
        <button type="submit", class="Run_btn">Run</button>
    </form>

    {% if output %}
        <h2 class="Output">Output:</h2>
        <pre>{{ output }}</pre>
    {% endif %}

</body>
</html>
